@model CinemaApp.Application.CinemaApp.MovieDto
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-light">@Model.Title Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.AgeRatingId)
        </dt>
        <dd class="col-sm-10 text-light">
            @ViewBag.AgeRatingName
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10 text-light">
            @Model.ReleaseDate.ToShortDateString()
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10 text-light">
            @Model.StartTime.ToString("dd.MM.yyyy HH:mm")
        </dd>
        <dt class="col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.HallNumber)
        </dt>
        <dd class="col-sm-10 text-light">
            @Html.DisplayFor(model => model.HallNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Movie" asp-action="Edit" asp-route-encodedTitle="@Model.EncodedTitle" class="text-light">Edit</a>
    |
    <a asp-action="Index" class="text-light">Back to List</a>
    |
    <a asp-controller="Ticket" asp-action="Create"
       asp-route-movieTitle="@Model.Title"
       asp-route-language="@Model.Language"
       asp-route-duration="@Model.Duration"
       asp-route-startTime="@Model.StartTime.ToString("yyyy-MM-ddTHH:mm")"
       asp-route-hallNumber="@Model.HallNumber"
       class="btn btn-primary">Get Ticket
   </a>
</div>
