@using CinemaApp.Application.CinemaApp;
@model IEnumerable<CinemaApp.Application.CinemaApp.MovieDto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Index</h1>

<div class="container">
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New Movie</a>
        <a asp-action="CreateShow" class="btn btn-primary">Create New Show</a>
    </p>
    <div class="row">
        <div class="col">
            @foreach (var movie in @Model)
            {
                <div class="border rounded p-5 mb-3 d-flex justify-content-between align-items-center">
                    <div>
                        <p class="text-light">@movie.Title</p>
                        <p class="text-light"><strong>Gatunek:</strong> @movie.Genre</p>
                        <p class="text-light"><strong>Kraj:</strong> @movie.Country</p>
                        <p class="text-light">
                            <strong>Wiek:</strong>
                            @{
                                var ageRatingId = movie.AgeRatingId;
                                var ageRatings = ViewBag.AgeRatings as List<AgeRatingDto>;
                                var ageRating = ageRatings.FirstOrDefault(ar => ar.Id == ageRatingId);
                                var ageRatingName = ageRating != null ? ageRating.MinimumAge : "Brak danych";
                                @ageRatingName
                            }
                        </p>
                        <p class="text-light"><strong>Język:</strong> @movie.Language</p>
                        <p class="text-light"><strong>Data premiery:</strong> @movie.ReleaseDate.ToShortDateString()</p>
                        <p class="text-light"><strong>Godzina rozpoczęcia:</strong> @movie.StartTime.ToString("dd.MM.yyyy HH:mm")</p>
                        <p class="text-light"><strong>Numer sali:</strong> @movie.HallNumber</p>
                    </div>
                    <div>
                        <a asp-controller="Movie" asp-action="Details" asp-route-encodedTitle="@movie.EncodedTitle" class="text-light">Details</a>
                        <a asp-controller="Movie" asp-action="Edit" asp-route-encodedTitle="@movie.EncodedTitle" class="text-light">Edit</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
