@model IEnumerable<CinemaApp.Application.CinemaApp.MovieDto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Index</h1>

<p>
    <a asp-action="Create" class="text-light">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.AgeRating)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.HallNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.AgeRating)
                </td>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.HallNumber)
                </td>
                <td>
                    <a asp-controller="Movie" asp-action="Details" asp-route-encodedTitle="@item.EncodedTitle" class="text-light">Details</a>
                    <a asp-controller="Movie" asp-action="Edit" asp-route-encodedTitle="@item.EncodedTitle" class="text-light">Edit</a>
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>
