@using CinemaApp.Application.CinemaApp;
@model IEnumerable<CinemaApp.Application.CinemaApp.MovieDto>

@{
    ViewData["Title"] = "Index";
}

<div class="px-4">
    <div class="d-flex justify-content-between pb-3">
        <form class="form">
            <div class="input-group">
                <input type="text" class="form-control form-input" placeholder="Search existing movie..." id="search-input">
            </div>
        </form>
        <a class="btn btn-primary" asp-action="Create" asp-controller="Movie">Create New</a>
    </div>
    <table class="table text-light">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AgeRatingId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NormalTicketPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReducedTicketPrice)
                </th>
            </tr>
        </thead>
        <tbody id="movies-list-partial">
            <partial name="_MoviesListPartial" model="@Model" />
        </tbody>
    </table>
</div>

<style>
    .input-group {
        border-radius: 10px;
    }

    .form-input {
        height: 45px;
        border: none;
        border-radius: 10px;
    }

        .form-input:focus {
            box-shadow: none;
            border: none;
        }
</style>

@section Scripts {
    <script>
        // Search input
        var searchString = null;
        $('#search-input').on('input', function () {
            searchString = $(this).val();
            updateMovieList(searchString);
        });

        // Function to update the movie list based on filters and sorting
        function updateMovieList() {
            $.ajax({
                url: '/Movie/SortMoviesList',
                data: {
                    searchString: searchString
                },
                success: function (data) {
                    $('#movies-list-partial').html(data);
                },
                error: function (xhr, status, error) {
                    toastr["error"]("Something went wrong");
                }
            });
        }
    </script>
}