@using CinemaApp.Application.CinemaApp;
@model IEnumerable<CinemaApp.Application.CinemaApp.MovieDto>

@{
    var isAdmin = User.IsInRole("Admin");
}

@if (isAdmin)
{
    <div class="d-flex justify-content-end pb-3">
        <a asp-action="Create" class="admin-btn mx-2">Create New Movie</a>
        <a asp-action="CreateShow" class="admin-btn">Create New Show</a>
    </div>
}
@foreach (var show in @Model)
{
    <div class="mb-3">
        <a asp-controller="Movie" asp-action="Details" asp-route-encodedTitle="@show.EncodedTitle" class="text-decoration-none">
            <img class="image-item pb-2" src="https://via.placeholder.com/640x960" alt="Okładka filmu" />
            <p class="text-light"><strong>@show.Title / @show.Language</strong></p>
            <p class="text-light">@show.Genre</p>
            <p class="text-light">
                @{
                    var ageRatingId = show.AgeRatingId;
                    var ageRatings = ViewBag.AgeRatings as List<AgeRatingDto>;
                    var ageRating = ageRatings.FirstOrDefault(ar => ar.Id == ageRatingId);
                    var ageRatingName = ageRating != null ? ageRating.MinimumAge : "No data";
                    @ageRatingName
                }
            </p>
            <p class="text-light">@show.StartTime.ToString("dd.MM.yyyy HH:mm")</p>
            <p class="text-light">Hall @show.HallNumber</p>
        </a>
    </div>
}