@using CinemaApp.Application.CinemaApp;
@model IEnumerable<CinemaApp.Application.CinemaApp.MovieDto>

@{
    var isAdmin = User.IsInRole("Admin");
}

@if (isAdmin)
{
    <div class="d-flex justify-content-end pb-3">
        <a asp-action="Create" asp-controller="MovieShow" class="admin-btn">Create New Show</a>
    </div>
}
@foreach (var show in @Model)
{
    <div class="mb-5">
        <a href="@Url.Action("Details", "MovieShow", new{encodedTitle = @show.EncodedTitle, startTime = @show.StartTime})" class="text-decoration-none">
            <div class="movie-item">
                <div>
                    <img class="image-item pb-2" src="https://via.placeholder.com/640x960" alt="Movie Cover" />
                    <p class="text-light"><strong>@show.Title / @show.Language</strong></p>
                </div>
                <div class="movie-details">
                    <p class="text-light">@show.Genre</p>
                    <p class="text-light">
                        @{
                            var ageRatingId = show.AgeRatingId;
                            var ageRatings = ViewBag.AgeRatings as List<AgeRatingDto>;
                            var ageRating = ageRatings.FirstOrDefault(ar => ar.Id == ageRatingId);
                            var ageRatingName = ageRating != null ? ageRating.MinimumAge : "No data";
                            @ageRatingName
                        }
                    </p>
                    <p class="text-light">@show.StartTime.ToString("dd.MM.yyyy HH:mm")</p>
                    <p class="text-light pb-4">@show.Duration minutes</p>
                    <a class="admin-btn" href="@Url.Action("Create", "Ticket", new{encodedTitle = show.EncodedTitle, startTime = show.StartTime})">Buy Ticket</a>
                </div>
            </div>
        </a>
    </div>
}

<style>
    .movie-item {
        display: flex;
    }

    .movie-details {
        padding-left: 2rem;
    }

    @@media only screen and (max-width: 1023px) {
        .movie-item {
            display: block;
        }

        .movie-details {
            padding-left: 0;
        }
    }
</style>