@using CinemaApp.Application.CinemaApp;

@model TicketDto

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-light px-3">Create new ticket</h1>

<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col">
            <a asp-action="Index" class="text-light">Back to List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div>
                <h2 class="text-center text-light">Choose your seats in the cinema</h2>
                <div class="seating">
                    <!-- Seats will be generated here -->
                </div>
                <div class="legend-container">
                    <div class="legend">
                        <div class="legend-item">
                            <img src="~/resources/seat.png" class="img" />
                            <p>Available</p>
                        </div>
                        <div class="legend-item">
                            <img src="~/resources/seat-na.png" class="img" />
                            <p>Unavailable</p>
                        </div>
                        <div class="legend-item">
                            <img src="~/resources/seat-sel.png" class="img" />
                            <p>Selected</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 pt-3">
            <p class="text-light"><strong>Movie Title:</strong> @Model.MovieTitle</p>
            <p class="text-light"><strong>Language:</strong> @Model.Language</p>
            <p class="text-light"><strong>Duration:</strong> @Model.Duration</p>
            <p class="text-light"><strong>Start Time:</strong> @Model.StartTime.ToString("dd.MM.yyyy HH:mm")</p>
            <p class="text-light"><strong>Hall Number:</strong> @Model.HallNumber</p>
            <div class="selected-seats">
                <h4 class="text-light">Selected places:</h4>
                <span class="text-light" id="selected-seats-list"></span>
            </div>
            <br />
            <div id="CreateTicketModal">
                <form asp-action="Create" id="ticket-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MovieTitle" value="@Model.MovieTitle" />
                    <input type="hidden" asp-for="Language" value="@Model.Language" />
                    <input type="hidden" asp-for="Duration" value="@Model.Duration" />
                    <input type="hidden" asp-for="StartTime" id="startTime" value="@Model.StartTime" />
                    <input type="hidden" id="hallNumber" asp-for="HallNumber" value="@Model.HallNumber" />
                    <input type="hidden" asp-for="SeatNumber" id="selected-seats" name="selectedSeatNumbers" />
                    <input type="hidden" asp-for="RowNumber" id="selected-rows" name="selectedRowNumbers" />
                    <input type="hidden" asp-for="NormalTicketPrice" value="@Model.NormalTicketPrice" />
                    <input type="hidden" asp-for="ReducedTicketPrice" value="@Model.ReducedTicketPrice" />
                    <div class="form-group pb-2">
                        <label asp-for="NormalPriceSeats" class="control-label text-light">Number of normal tickets:</label>
                        <div class="input-group">
                            <button type="button" class="btn btn-danger btn-square" id="decreaseNormal">-</button>
                            <input type="text" asp-for="NormalPriceSeats" class="form-control text-center" id="normalPriceSeats" />
                            <button type="button" class="btn btn-success btn-square" style="border-radius: 0 5px 5px 0;" id="increaseNormal">+</button>
                            <span asp-validation-for="NormalPriceSeats" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group pb-2">
                        <label asp-for="ReducedPriceSeats" class="control-label text-light">Number of discount tickets:</label>
                        <div class="input-group">
                            <button type="button" class="btn btn-danger btn-square" id="decreaseReduced">-</button>
                            <input type="text" asp-for="ReducedPriceSeats" class="form-control text-center" id="reducedPriceSeats" />
                            <button type="button" class="btn btn-success btn-square" style="border-radius: 0 5px 5px 0;" id="increaseReduced">+</button>
                            <span asp-validation-for="ReducedPriceSeats" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <input type="submit" id="submitButton" value="Purchase Ticket" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <link rel="stylesheet" href="~/css/Ticket/CreateTicketStyleSheet.css" />
    <script src="~/js/CinemaApp/Ticket/SeatManager.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const decreaseButtons = document.querySelectorAll(".btn-danger");
            const increaseButtons = document.querySelectorAll(".btn-success");

            decreaseButtons.forEach(button => {
                button.addEventListener("click", function () {
                    const inputField = this.nextElementSibling;
                    let value = parseInt(inputField.value);
                    if (value > 0) {
                        value--;
                        inputField.value = value;
                    }
                });
            });

            increaseButtons.forEach(button => {
                button.addEventListener("click", function () {
                    const inputField = this.previousElementSibling;
                    let value = parseInt(inputField.value);
                    value++;
                    inputField.value = value;
                });
            });
        });
    </script>
}