@model IEnumerable<CinemaApp.Application.CinemaApp.TicketDto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Index</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.MovieTitle)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.HallNumber)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.RowNumber)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.SeatNumber)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.NormalPriceSeats)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.ReducedPriceSeats)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.QRCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.MovieTitle)
                </td>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td class="text-light">
                    @item.StartTime.ToString("dd.MM.yyyy HH:mm")
                </td>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.HallNumber)
                </td>
                <td class="text-light">
                    @foreach (var rowNumber in item.RowNumber)
                    {
                        @Html.DisplayFor(modelItem => rowNumber)
                        <br />
                    }
                </td>
                <td class="text-light">
                    @foreach (var seatNumber in item.SeatNumber)
                    {
                        @Html.DisplayFor(modelItem => seatNumber)
                        <br />
                    }
                </td>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.NormalPriceSeats)
                </td>
                <td class="text-light">
                    @Html.DisplayFor(modelItem => item.ReducedPriceSeats)
                </td>
                <td class="text-light">
                    @if (item.QRCode != null && item.QRCode.Length > 0)
                    {
                        string base64Image = Convert.ToBase64String(item.QRCode);
                        string imgSrc = $"data:image/png;base64,{base64Image}";
                        <img src="@imgSrc" alt="QR Code" />
                    }
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Ticket" asp-action="GetPdfTicketFile" asp-route-guid="@item.Guid">Get PDF</a>
                </td>
            </tr>
        }
    </tbody>
</table>