@using CinemaApp.Application.CinemaApp;

@model TicketCheckDto;

@{
    ViewData["Title"] = "TicketCheck";
}

<div class="container"> 
    <div class="row">
        <h1 class="text-light">Ticket @Model.Guid</h1>
        <p class="text-light">Movie: @Model.MovieTitle</p>
        <p class="text-light">Start Time: @Model.StartTime</p>
        <p class="text-light">Hall Number: @Model.HallNumber</p>
        <p class="text-light">Rows: </p>
        @foreach(var rows in Model.RowNumber)
        {
            <p class="text-light">@rows</p>
        }
        <p class="text-light">Seats: </p>
        @foreach(var seats in Model.SeatNumber)
        {
            <p class="text-light">@seats</p>
        }
        <p class="text-light">Normal Price Seats: @Model.NormalPriceSeats</p>
        <p class="text-light">Reduced Price Seats: @Model.ReducedPriceSeats</p>
        <p class="text-light">Purchase Date: @Model.PurchaseDate</p>
        <p class="text-light">Is Scanned: @Model.IsScanned</p>
        <br />
        <form asp-controller="Ticket" asp-action="TicketCheck" method="post">
            @Html.HiddenFor(model => model.Guid)
            @Html.HiddenFor(model => model.IsScanned)
            <button type="submit" class="btn btn-primary">Set Ticket As Checked</button>
        </form>
    </div>
</div>